project_id = "lbnziztopednzuzucdqi"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.send-ticket-notification]
verify_jwt = false

[functions.send-registration-notification]
verify_jwt = false

[functions.send-approval-notification]
verify_jwt = false

[functions.send-status-notification]
verify_jwt = false
